<header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">AutoAuto</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    
                <div class="navbar-nav ms-auto d-flex align-items-center">
                    <a class="nav-link" href="/">Home</a>
                    {{!-- <a class="nav-link" href="/">Book appointment</a> --}}
                    {{!-- <a class="nav-link" href="#">About us</a> --}}
                    {{!-- <a class="nav-link" href="#">contact us</a>  --}}

                </div>
            </div>
        </div>
    </nav>
</header>
